/* main  */

main {
  width: 50%;
}

.theme-container a {
  text-decoration: none;
  color: inherit;
}

.theme-container span {
  font-weight: bold;
}

.theme-container h2,
p {
  padding: 0.3em 0 0.2em;
  margin: 0;
}

.theme-container h2 {
  padding: 0.3em 0 0.2em;
  margin: 0;
  background-color: #234465;
  color: white;
  text-shadow: 1px 1px rgb(121, 117, 117);
  border-radius: 10px;
}
