.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  border: 4px solid var(--button-color);
  border-radius: 1em;
  min-width: 80ch;
  margin: 0 auto;
  gap: 0.5em;
}

.form-group,
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0.5em; */
  font-size: 1.4em;
  margin-bottom: 1em;

}

button {
  background-color: var(--button-color);
  color: white;
  /* border: 1px solid var(--button-color); */
  border-radius: 0.4em;
  padding: 0.2em 0.6em;
  margin-top: 1.4em;
  /* margin-left: 0.4em; */
}

button:hover {
  background-color: var(--button-color-hoover);
  color: black;
}

mat-error {
  color: red;
  font-size: 0.8em;
}
mat-form-field  {
  width: 400px;
}

