<div class="container">
  <h5>Създавай нова картичка</h5>

  <form [formGroup]="createCard" (ngSubmit)="handlerSubmit()">
    <mat-form-field class="form-group">
      <mat-label for="title">Заглавие</mat-label>
      <input matInput type="text" id="title" formControlName="title" />
      <mat-error
        *ngIf="createCard.get('title')?.errors?.['required'] && createCard.get('title')?.touched"
      >
        Заглавието е задължително!
      </mat-error>
      <mat-error
        *ngIf="createCard.get('title')?.errors?.['minlength'] && createCard.get('title')?.touched"
        >Заглавието трябва да съдържа поне 3 символа!</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select formControlName="category" required>
        <mat-option>--</mat-option>
        @for (cat of categoriesArr; track cat){
        <mat-option [value]="cat">{{cat}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label for="description">Описание</mat-label>
      <textarea
        formControlName="description"
        id="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        matInput
      ></textarea>
      <mat-error
        *ngIf="createCard.get('description')?.errors?.['required'] && createCard.get('description')?.touched"
      >
        Описанието е задължително!
      </mat-error>
      <mat-error
        *ngIf="createCard.get('description')?.errors?.['minlength'] && createCard.get('description')?.touched"
        >Описанието трябва да съдържа поне 6 символа!</mat-error
      >
    </mat-form-field>

    <input type="file" #fileInput hidden (change)="uploadPhoto($event)" />
    <button type="button" mat-raised-button (click)="fileInput.click()">
      Избери снимка!
    </button>
    <span *ngIf="selectedFileName">{{selectedFileName}}</span>

    <mat-progress-bar
      *ngIf="isUploading()"
      mode="indeterminate"
    ></mat-progress-bar>

    <button [disabled]="createCard.invalid || isUploading()" type="submit">
      Създай картичка
    </button>
  </form>
</div>
