<div class="together">
  <div class="container">
    <section>
      <h3>
        {{cardInfo()?.title}}
        <span>Автор: {{cardInfo()?.author?.username}}</span>
      </h3>
      <img [src]="cardInfo()?.imageUrl" alt="birthday" />
      <div class="text">
        <!-- <p><strong>Tags:</strong> рожден ден, торта, свещщички</p> -->
        <p><strong>Категория:</strong> {{cardInfo()?.category}}</p>
        <p><strong>Описание:</strong> {{cardInfo()?.description}}</p>
        <p><strong>Likes: </strong> {{ cardInfo()?.likes?.length}}</p>
        <p><strong>Създадена на:</strong> {{cardInfo()?.createdAt | date}}</p>
        <p>
          <strong>Последно променена на:</strong> {{cardInfo()?.updatedAt|
          date}}
        </p>
      </div>
      <div class="buttons">
        <button
          [disabled]="isLoggedIn() && isOwner"
          *ngIf="isLoggedIn() && !isOwner"
          type="button"
          (click)="onLike()"
        >
          @if(isAlreagyLiked()){ Unlike
          <i class="fa-solid fa-thumbs-down"></i>} @else { Like
          <i class="fa-solid fa-thumbs-up"></i>}
        </button>

        <button
          [routerLink]="['/edit', cardInfo()?._id]"
          [disabled]="isLoggedIn() && !isOwner"
          *ngIf="isOwner"
          type="button"
        >
          Промени
        </button>

        <button
          [disabled]="isLoggedIn() && !isOwner"
          *ngIf="isOwner"
          type="button"
          matButton="elevated"
          (click)="deleteFunk()"
        >
          Изтрий
        </button>
      </div>
    </section>
  </div>
  <app-coments></app-coments>
</div>
