<div class="container">
  <h5>Редактиране на картичката</h5>

  <form [formGroup]="cardForm" (ngSubmit)="handlerSubmit()">
    <mat-form-field class="form-group">
      <mat-label for="title">Заглавие</mat-label>
      <input matInput type="text" id="title" formControlName="title" />
      <mat-error
        *ngIf="cardForm.get('title')?.errors?.['required'] && cardForm.get('title')?.touched"
      >
        Заглавието е задължително!
      </mat-error>
      <mat-error
        *ngIf="cardForm.get('title')?.errors?.['minlength'] && cardForm.get('title')?.touched"
        >Заглавието трябва да съдържа поне 3 символа!</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select formControlName="category" required>
        <mat-option>--</mat-option>
        @for (cat of categoriesArr; track cat){
        <mat-option [value]="cat">{{cat}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label for="description">Описание</mat-label>
      <textarea
        formControlName="description"
        id="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        matInput
      ></textarea>
      <mat-error
        *ngIf="cardForm.get('description')?.errors?.['required'] && cardForm.get('description')?.touched"
      >
        Описанието е задължително!
      </mat-error>
      <mat-error
        *ngIf="cardForm.get('description')?.errors?.['minlength'] && cardForm.get('description')?.touched"
        >Описанието трябва да съдържа поне 6 символа!</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngIf="!hideLink()">
      <mat-label for="imageUrl">Линк към изображение</mat-label>
      <input
        type="url"
        id="imageUrl"
        [readonly]="isImageUrlLocked"
        matInput
        formControlName="imageUrl"
      />
    </mat-form-field>
    <input type="file" #fileInput hidden (change)="uploadPhoto($event)" />
    <button type="button" mat-raised-button (click)="fileInput.click()">
      Избери снимка!
    </button>

    @if (selectedFileName) {
    <span>{{selectedFileName}}</span>

    } @if (isUploading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <button [disabled]="cardForm.invalid || isUploading()" type="submit">
      Промени картичка
    </button>
  </form>
</div>
