.inside-wraper {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
  background-color: transparent;

  .empty {
    font-size: 1.5em;
  }
}

section {
  border-radius: 1em;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }

  img {
    overflow: hidden;
    width: 630px;
    height: 903px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .text {
    padding: 1em;
    border: 1px solid var(--button-color);
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    p {
      font-size: 0.9em;
    }
  }
}

/* Style the open paginator dropdown menu */
::ng-deep .mat-mdc-select-panel {
  background: var(--drop-menu-bg) !important;
  color: #222 !important;
}

/* Style dropdown options on hover */
::ng-deep .mat-mdc-option:hover {
  background: var(--drop-menu-bg-hover) !important;
  color: #111 !important;
}

/* Style the selected option in the open paginator dropdown */
::ng-deep .mat-mdc-select-panel .mat-mdc-option.mdc-list-item--selected {
  background: var(--drop-menu-bg-select) !important;
  /* color: #003344 !important; */
}
