#image {
  background-image: url(../../public/31ed1ffefc7d04b826ffa4f8e04ae9be.jpg);
  background-size: cover;
}

.main-layout {
  display: flex;
  min-height: calc(100vh - 100px);
  padding: 0 8.5em;
}

.aside {
  width: 200px;
  color: black;
  font-size: 1.5em;
}

.content-wrapper {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

mat-form-field {
  width: 100%;
}
