<div class="container">
  <h5>Как може да се свържите с нас</h5>
  <div class="contacts">
    <div class="person">
      <h3>Автор на картичните:</h3>
      <p><strong>Имейл: </strong>наКакаИмейла&#64;abv.bg</p>
      <p><strong>Телефон: </strong>098984569876</p>
      <p><strong>Адрес: </strong>България, с, Цветница ул. не я знам</p>
    </div>
    <div class="person">
      <h3>Създател на сайта:</h3>
      <p><strong>Имейл: </strong>rayko_radev&#64;yahoo.com</p>
      <p><strong>Телефон: </strong>098984329876</p>
      <p><strong>Адрес: </strong>България, гр. Неизвестен, ул. Под моста</p>
      <!-- <p>Latitude: {{latitude}}</p>
      <p>Longitude: {{longitude}}</p> -->
    </div>
  </div>
  <div id="map"></div>
  <!-- <p><strong></strong></p> -->
</div>
