<aside>
  <p>Категории</p>
  <div class="accordion">
    <input type="radio" name="accordion" id="section1" />
    <label for="section1">Картички</label>
    <div class="content">
      <p><a routerLink="/category/Рожден Ден">Рожден ден</a></p>
      <p><a routerLink="/category/Сватбени">Сватбени</a></p>
      <p><a routerLink="/category/Юбилейни">Юбилейни</a></p>
      <p><a routerLink="/category/Бебешки">Бебешки</a></p>
      <p><a routerLink="/category/Кръщене">Кръщене</a></p>
      <p><a routerLink="/category/allCards">Всички на едно място</a></p>
    </div>

    <input type="radio" name="accordion" id="section6" />
    <label class="lastOne" for="section6">Кутии</label>
    <div class="content">
      <p><a routerLink="/category/Кутии">Експлодиращи</a></p>
      <!-- <p><a href="#">новогодишни</a></p>
      <p><a href="#">юбилейни</a></p> -->
    </div>
  </div>
</aside>
