<footer>
  <!-- <h3>some info about us</h3> -->
  <section class="creators">
    <section class="card-creator">
      <p>card-creator: Lyubomira</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/lyubomira.dolapchieva"
            >Facebook: <i class="fa-brands fa-square-facebook"></i
          ></a>
        </li>
      </ul>
    </section>
    <section class="web-creator">
      <p>web-creator: Rayko</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/christmas898"
            >Facebook: <i class="fa-brands fa-square-facebook"></i
          ></a>
        </li>
      </ul>
    </section>
  </section>
  <p>© Copyright 2025, All Rights Reserved.</p>
</footer>
