footer {
  display: flex;
  width: 100dvw;
  flex-direction: column;
  text-align: center;
  background-color: rgb(189, 189, 189);
  padding: 1em;
}

footer .creators {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}
