<footer>
  <h3>some info about us</h3>
  <section class="creators">
    <section class="card-creator">
      <p>card-creator: ....</p>
      <ul>
        <li>address...</li>
        <li>
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </li>
      </ul>
    </section>
    <section class="web-creator">
      <p>web-creator: me....</p>
      <ul>
        <li>address...</li>
        <li>
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </li>
      </ul>
    </section>
  </section>
  <p>© Copyright 2025, All Rights Reserved.</p>
</footer>
