<aside>
  <p>Категории</p>
  <div class="accordion">
    <input type="radio" name="accordion" id="section1" />
    <label for="section1">Картички</label>
    <div class="content">
      <p><a href="/birthday">рожден ден</a></p>
      <p><a href="/wedding">сватбени</a></p>
      <p><a href="/anniversary">юбилейни</a></p>
      <p><a href="/babies">бебешки</a></p>
      <p><a href="/baptism">кръщене</a></p>
    </div>

    <input type="radio" name="accordion" id="section6" />
    <label class="lastOne" for="section6">Кутии</label>
    <div class="content">
      <p><a href="/boxes">Експлодиращи</a></p>
      <!-- <p><a href="#">новогодишни</a></p>
      <p><a href="#">юбилейни</a></p> -->
    </div>
  </div>
</aside>
