aside {
  border-radius: 1em;
  background-color: #f4d44d;
  margin-top: 1.1em;
  width: 250px;
  overflow: hidden;
}

aside>p {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0.4em 0.2em;
}

aside .accordion {
  display: flex;
  flex-direction: column;
}

.accordion input[type="radio"] {
  display: none;
}

.accordion label {
  padding: 0.5em 0.7em;
  display: block;
  background: var(--button-color);
  color: white;
  cursor: pointer;
  border-top: 1px solid var(--button-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.accordion input[type="radio"]:not(:checked)+label.lastOne {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.accordion input[type="radio"]:checked+label {
  background-color: var(--button-color-hoover);
  color: black;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/* Hover for general labels */
.accordion label:hover {
  background-color: var(--button-color-hoover);
  color: black;
}

.accordion label>a:hover {
  background-color: #f4d44d;
  color: black;
}


.accordion a {
  text-decoration: none;
  color: white;
}

/* Content area */
.accordion .content {
  max-height: 0;
  overflow: hidden;
  background-color: var(--search-input-color);
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.accordion .content:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}


.accordion input[type="radio"]:checked+label+.content {
  max-height: 15em;
  padding: 0.5em 0.8em;
}

.accordion input[type="radio"]:checked+label+.content:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion .content p {
  font-size: 0.9em;
  border-bottom: 1px solid black;
  padding: 0.3em 0;
}

.accordion .content p:last-child {
  border-bottom: none;
}

.accordion .content p:hover {
  background-color: var(--button-color-hoover);
  color: black;
}

.main-container aside {
  width: 30%;
}
