<header>
  <div class="header-top">
    <section class="title">
      <h1>Handmade by Fresia</h1>
      <p>Created by my Awesomness</p>
      <p>Cards produced by the best card-maker -> my cousin</p>
    </section>
    <section class="user">
      <ul>
        <li><a href="/login">Вход</a></li>
        <li><a href="/register">Регистрирация</a></li>
        <li><a href="#">Отписване :(</a></li>
      </ul>
    </section>
  </div>

  <nav class="header-bottom">
    <section class="pages">
      <ul>
        <li><a href="">Начало</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Свържи се с нас</a></li>
      </ul>
    </section>
    <section class="social-search">
      <search>
        <form action="#">
          <input type="text" name="search" placeholder="Какво ще търсим?" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Да я намерим
          </button>
        </form>
      </search>
      <section class="social">
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li style="display: none">
            <a href="#"><i class="fa-solid fa-at"></i></a>
          </li>
          <li style="display: none">
            <a href="#"><i class="fa-solid fa-phone"></i></a>
          </li>
        </ul>
      </section>
    </section>
  </nav>
</header>
