<div class="container">
  <section>
    <a [routerLink]="['/category', 'Рожден Ден']">
      <img src="/DSC_6922.JPG" alt="birthday" />
      <div class="text">
        <h2>Картички за рожден ден</h2>
      </div>
    </a>
  </section>
  <section>
    <a [routerLink]="['/category', 'Сватбени']">
      <img src="/DSC_7715.JPG" alt="wedding" />
      <div class="text">
        <h2>Картички за сватби</h2>
      </div>
    </a>
  </section>
  <section>
    <a [routerLink]="['/category', 'Юбилейни']">
      <img src="IMG_20221118_074342.jpg" alt="anniversary" />
      <div class="text">
        <h2>Картички за юбилей</h2>
      </div>
    </a>
  </section>
  <section>
    <a [routerLink]="['/category', 'Бебешки']">
      <img src="DSC_6504.JPG" alt="baby" />
      <div class="text">
        <h2>Бебешки картички</h2>
      </div>
    </a>
  </section>
  <section>
    <a [routerLink]="['/category', 'Кръщене']">
      <img src="DSC_7196.JPG" alt="Baptism" />
      <div class="text">
        <h2>Картички за кръщене</h2>
      </div>
    </a>
  </section>
  <section>
    <a href="/category/Кутии">
      <img src="IMG_20200630_144717.jpg" alt="pop-up-box" />
      <div class="text">
        <h2>Експлодиращи кутии</h2>
      </div>
    </a>
  </section>
</div>
