section div:nth-child(1),
section div:nth-child(3) {
  color: var(--button-color);
  font-size: 50px;
  text-align: center;
}

section div:nth-child(1) {
  margin-top: 20px;
}

section div:nth-child(2) {
  width: 100%;
  color: var(--button-color);
  align-self: center;
}

.buttons {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  gap: 4em;
}

button {
  background-color: var(--button-color);
  color: white;
  /* border: 1px solid var(--button-color); */
  border-radius: 0.4em;
  padding: 0.2em 0.6em;
  margin-top: 1.4em;
  /* margin-left: 0.4em; */
}

button:hover {
  background-color: var(--button-color-hoover);
  color: black;
}

